
<a href="#">@ViewBag.Name</a>
<a href="@Url.Action("Logout","DangNhap")"> @ViewBag.DX</a>
<a href="@Url.Action("Login","DangNhap")"> @ViewBag.DN</a>
<a href="@Url.Action("Create","DangKy")"> @ViewBag.DK</a>
