@using WebsiteBanThuoc.Models;
@model List<GioHang>
<link href="~/Content/Style.css" rel="stylesheet" />

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}

<h2>Giỏ hàng của bạn</h2>
<table id="divGioHang">
    <tr>
        <td>Mã thuốc</td>

        <td>Tên thuốc</td>

        <td>Ảnh </td>

        <td>Đơn giá</td>


        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSP</td>

            <td>@item.TenSP</td>

            <td><a href="@Url.Action("XemChiTiet", "Thuoc", new { @mathuoc = item.MaSP})"><img src="@Url.Content("~/HinhAnhSP/"+item.HinhAnh)" width="50" height="50" /></a></td>

            <td>
                @String.Format("{0:0,0}", item.GiaBan) VNĐ
            </td>

            <td>@item.SoLuong</td>

            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>

        </tr>  

    }

    <tr>
        <td colspan="6" style="text-align:right;color:red">
            @Html.Action("TongTienPartial", "GioHang")
        </td>

    </tr>
  
    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>

    </tr>
    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
</table>
@*Css giỏ hàng*@
<style>
    #divGioHang {
        border: 1px solid #EEEEEE;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>