@using WebsiteBanThuoc.Models;
@model List<Thuoc>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />


@{
    ViewBag.Title = "ThuocTheoThuongHieu";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}

@*Hiển thị danh sách thuốc theo thương hiệu*@
@{ int i = 0;}
@foreach (var item in Model)

{
    i++;
    <div class="center_content">
        <div class="prod_box">
            <div class="top_prod_box"></div>
            <div class="center_prod_box">
                <div id="AnhBia"><a href="@Url.Action("XemChiTiet","Thuoc", new { @mathuoc = item.MaThuoc})"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="120" height="150" /></a></div>
                @if (item.TenThuoc.Length < 50)
                {
                    <div class="product_title"><a href="@Url.Action("XemChiTiet","Thuoc", new { @mathuoc = item.MaThuoc})">@item.TenThuoc</a></div>
                }
                else
                {
                    <div class="product_title"><a href="@Url.Action("XemChiTiet","Thuoc", new { @mathuoc = item.MaThuoc})">@item.TenThuoc.Substring(0, 50) ...</a></div>
                }
                @*Dịch dấu chấm động giá bán sử dụng string.Format("{0:0,0}", tham số)*@
                <div class="prod_price"><span class="price">Giá: @String.Format("{0:0,0}", item.GiaBan) VNĐ </span></div>
            </div>
            <div class="bottom_prod_box"></div>
            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSP = item.MaThuoc, @strURL = Request.Url.ToString() }))
                {
                <input type="submit" style="cursor:pointer; width:130px; height: 45px; font:bold 30px " value="Mua hàng &#xf07a;" id="btnGioHang" class="btn btn-primary">
            }
        </div>
    </div>
    if (i % 4 == 0)
    {
        <div style="clear:both"></div>
    }
}

<style>
    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        background-color: cornflowerblue;
    }

        #btnGioHang:hover {
            background-color: #a30a11;
        }
</style>


