@model WebsiteBanThuoc.Models.Thuoc

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<h2>Chi tiết Sản phẩm</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.Raw(Model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSP/"+Model.AnhBia)" width="120" height="150" /></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu.TenTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaThuoc = Model.MaThuoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
