@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteBanThuoc.Models.Thuoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}


<p>
    @Html.ActionLink("Thêm mới sản phẩm", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
           Mã sản phẩm
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaDM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.Raw(item.MoTa)
        <td>
            <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="120" height="150" /></div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu.TenTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaThuoc=item.MaThuoc }) |
            @Html.ActionLink("Chi Tiết", "ChiTiet", new { @MaThuoc = item.MaThuoc }) |
            @Html.ActionLink("Xóa", "Xoa", new { @MaThuoc = item.MaThuoc })
        </td>
    </tr>
}

</table>
@* Tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
