@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WebsiteBanThuoc.Models.Thuoc>
<link href="~/Content/Style.css" rel="stylesheet" />

@*Css cho trang chủ ở trong thư mục Content*@
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />

@{
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
    ViewBag.Title = "Index";
}

@*divBody trang index *@
<h2 style="margin-left:2%;font-weight:normal;color:black">Kết quả tìm kiếm</h2>
<div>@ViewBag.ThongBao</div>
<hr />
@*
    Chú thích:
    -Div divBody chứa Div SanPham
    -Div SanPham chứa Div AnhBia,ThongTin
    -Div ThongTin chứa Div TenThuoc,GiaBan
*@
<div id="divBody" style="background:White;">
    @{ int i = 0;}
    @foreach (var item in Model)

    {
        i++;
        <div class="center_content">
            <div class="prod_box">
                <div class="top_prod_box"></div>
                <div class="center_prod_box">
                    <div id="AnhBia"><a href="@Url.Action("XemChiTiet","Thuoc", new { @mathuoc = item.MaThuoc})"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="120" height="150" /></a></div>
                    @if (item.TenThuoc.Length < 50)
                    {
                        <div class="product_title"><a href="@Url.Action("XemChiTiet","Thuoc", new { @mathuoc = item.MaThuoc})">@item.TenThuoc</a></div>
                    }
                    else
                    {
                        <div class="product_title"><a href="@Url.Action("XemChiTiet","Thuoc",new { @mathuoc = item.MaThuoc})">@item.TenThuoc.Substring(0, 50) ...</a> </div>
                    }
                    @*Dịch dấu chấm động giá bán sử dụng string.Format("{0:0,0}", tham số)*@
                    <div class="prod_price"><span class="price">Giá: @String.Format("{0:0,0}", item.GiaBan) VNĐ </span></div>
                </div>
                <div class="bottom_prod_box"></div>
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSP = item.MaThuoc, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer; width:130px; height: 45px; font:bold 30px " value="Mua hàng &#xf07a;" id="btnGioHang" class="btn btn-primary">
                }
            </div>
        </div>
        if (i % 4 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div style="clear:both"></div>

</div>
<div style="clear:both"></div>

@* Tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }

    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        background-color: cornflowerblue;
    }

        #btnGioHang:hover {
            background-color: #a30a11;
        }
</style>
